<hr>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3"></div>
      <div class="col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3 ">
        <p class="text-center"><strong>陕西煤业物资有限责任公司黄陵分公司</strong></p>
        <p class="text-center"> <strong>Copyright 2016 </strong></p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
