<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="viewpor content=" width=device-width">
  <title>the work statics</title>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/components/jquery/dist/jquery.js">
  <link rel="stylesheet" href="/components/bootstrap/dist/js/bootstrap.js">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
