<% include header.html %>

<div class="contaner">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>科室统计</p>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>编号</th>
              <th>科室名称</th>
              <th>科室人数</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>01</td>
              <td>设备科</td>
              <td>4</td>
            </tr>
            <tr>
              <td>02</td>
              <td>材料克</td>
              <td>4</td>
            </tr>
            <tr>
              <td>03</td>
              <td>配件科</td>
              <td>5</td>
            </tr>
            <tr>
              <td>05</td>
              <td>设备科</td>
              <td>4</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>科室统计</p>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class=""></div>
<h1><%-title %>333444</h1>
<h2><%-title %>333444</h2>
<h3><%-title %>333444</h3>
<h1><%-articles %></h1>
<p>Welcome to <%-title %></p>

<% include footer.html %>
